/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* General */
body {
  background-color: #f6f8f9;
  font-family: Arial, sans-serif;
}
.container {
  width: 800px;
  height: 600px;
  background-color: #fff;
  margin: auto;
}

hr {
  border: 1px solid #f6f8f9;
}

/* Header */
header {
  height: 70px;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 10px 20px;
}
.logo_icon {
  height: 100%;
  vertical-align: middle;
}
.app_name {
  font-size: 38px;
  font-weight: 900;
  vertical-align: middle;
}

/* Buttons */
.button {
  text-align: center;
  width: 85px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: inline-block;
  margin: 10px;
}

#task {
  background-color: #46adf1;
  margin-left: 50px;
  color: white;
}

#section {
  margin-left: -10px;
  height: 26px;
  border: 1px solid lightgrey;
  color: lightgrey;
}

/* Home page */
.calendar {
  margin-left: 50px;
  margin-top: 30px;
  color: #444851;
}

.to_do {
  color: #444851;
  margin-left: 50px;
  margin-top: 20px;
}

.check {
  margin-right: 5px;;
  padding: 0px 2px;
  color: #96d4c4;
  border: 1px solid #96d4c4;
  border-radius: 50%;
}

.cross {
  margin-right: 5px;
  padding: 0px 3px;
  color: #f07f79;
  border: 1px solid #f07f79;
  border-radius: 50%;
}
