/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* General */
body {
  background-color: #f6f8f9;
}

/* Header */
.box_logo {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.logo_icon {
  display: inline-block;
  margin-left: 20px;
}

.app_name {
  font-family: sans-serif;
  font-size: 36px;
  margin-left: 5px;
}
